{% extends 'base.html.twig' %}

{% block title %}Les Devs Web d'Alsace
{% endblock %}

{% block body %}
	<style>
		#logo-header {
			max-width: 100px;
		}
		body {
			margin-top: 100px;
		}
	</style>


	<div class="container">


		<p>
			Lorem ipsum dolor sit amet. Hic voluptates fuga in recusandae modi sit labore ratione a itaque iure sit quis dolores. Et saepe beatae et error error sed nihil voluptas aut odio expedita 33 doloribus totam ex beatae galisum. Cum natus dicta et nesciunt quis est consequatur provident qui assumenda incidunt. Est quae labore eos consequuntur accusamus non eaque corporis aut natus amet est officiis unde aut cumque nesciunt. Et quasi mollitia cum rerum facere eum aliquid voluptas. Qui deserunt ipsam ut repellat nobis et ipsum provident.
		</p>

		<img src="https://picsum.photos/800/300" class="w-100">

		<p>
			Lorem ipsum dolor sit amet. Hic voluptates fuga in recusandae modi sit labore ratione a itaque iure sit quis dolores. Et saepe beatae et error error sed nihil voluptas aut odio expedita 33 doloribus totam ex beatae galisum. Cum natus dicta et nesciunt quis est consequatur provident qui assumenda incidunt. Est quae labore eos consequuntur accusamus non eaque corporis aut natus amet est officiis unde aut cumque nesciunt. Et quasi mollitia cum rerum facere eum aliquid voluptas. Qui deserunt ipsam ut repellat nobis et ipsum provident.
		</p>
		<p>
			Cum natus dicta et nesciunt quis est consequatur provident qui assumenda incidunt. Est quae labore eos consequuntur accusamus non eaque corporis aut natus amet est officiis unde aut cumque nesciunt. Et quasi mollitia cum rerum facere eum aliquid voluptas. Qui deserunt ipsam ut repellat nobis et ipsum provident.
		</p>
		<p>
			Eos esse quisquam qui explicabo ullam et quia porro et culpa blanditiis cum iusto natus. Qui autem quam ut quibusdam vero id quia ipsam.
		</p>
	</div>


{% endblock %}
