{% extends "emails/base.html.twig" %}

{% block title "Confirmation email" %}

{% block body %}
<h1>Bonjour {{firstName}}, merci de confirmer votre adresse email</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Santé 🥂
</p>
{% endblock %}
