{% extends 'base.html.twig' %}

{% block title "Nouvelle catégorie" %}
{% block description "Creation administrateur categorie" %}

{% block body %}
{% include "admin/_admin_nav.html.twig" %}
<div class="container">
    <h1>Create new Category</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>
</div>
{% endblock %}
