<footer class="footer mt-auto bg-light">
	<div class="container">
		<nav class="navbar navbar-expand-lg d-flex flex-direction-row">
			<ul class="navbar-nav">
				<li class="nav-item text-decoration-none">
					<button class="btn btn-primary">
						<a href="https://www.linkedin.com/company/elsass-web-devs/" class="nav-link" target="_blank" rel="noopener noreferrer">
							<i class="bi bi-linkedin"></i>
						</a>
					</button>
				</li>
				<li class="nav-item">
					<button class="btn btn-danger">
						<a href="https://www.youtube.com" class="nav-link" target="_blank" rel="noopener noreferrer">
							<i class="bi bi-youtube"></i>
						</a>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</footer>
