<footer class="footer p-2">
	<div class="container text-center">
		<a href="https://www.linkedin.com/company/elsass-web-devs/" class="mx-1" target="_blank" rel="noopener noreferrer">
			<i class="bi bi-linkedin"></i>
		</a>
		<a href="https://www.youtube.com" class="mx-1" target="_blank" rel="noopener noreferrer">
			<i class="bi bi-youtube"></i>
		</a>
	</div>
</footer>
