{# <div class="container page-content p-5" id="content">
  <button id="sidebarCollapse" type="button" class="btn btn-primary rounded-pill px-4"><small class="text-uppercase">Menu Admin</small></button>
</div>
<div class="vertical-nav bg-white" id="sidebar">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 250px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true"> Blog</button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{path("admin_category_index")}}" class="link-dark d-inline-flex text-decoration-none rounded disabled">Catégories</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Tags</a></li>
                        {# <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li> 
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                    <a class="nav-link" href="{{path("admin_user_index")}}"> Gestion des utilisateurs</a>
            </li>

            <li class="mb-1">
                    <a class="nav-link" href="{{path("admin_contact_index")}}"> Demandes de contact</a>
            </li>

            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">Account</button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {# <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li> 
                        <li><a href="{{path("deconnexion")}}" class="link-dark d-inline-flex text-decoration-none rounded">Déconnexion</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> 
</div>  #}

<div id="sidebar">
    sidebar
</div>