<h1>{% block title '' %}</h1>

<div class="body">
	{% block body '' %}
</div>

{% block signature %}
	<br><br>
	<div class="signature">
		Cordialement, <br>
		L'équipe des Devs Web d'Alsace
	</div>
{% endblock %}


