<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('icons/favicon.ico') }}" type="image/icon type">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>


	<body class="d-flex flex-column h-100">

		{% include "elements/_header.html.twig" %}
		{% include "elements/_flash.html.twig" %}

		<main class="flex-shrink-0"> {% block body %}{% endblock %}
			</main>
			{% include "elements/_footer.html.twig" %}

		</body>
	</html>
