<h2 class="text-center h4">Articles les plus lus</h2>

{% for article in bestArticles %}
	<div class="siders">
		<div class="img-ratio">
			<div class="img">
				<img src="{{asset('/ressources/images/articles/' ~ article.imageName)}}" class="siders-image mx-auto" alt="{{article.imageName}}">
			</div>
		</div>

		<div class="p-1 pb-2">
			<div class="siders-titles">{{article.title}}</div>

			<a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn btn-primary btn-sm px-4">Lire</a>
		</div>
	</div>
{% endfor %}
