{% extends 'base.html.twig' %}

{% block title "Modifier contact" %}
{% block description "Modification administrateur contact" %}

{% block body %}
<div class="container">
    <h1>Éditer le contact</h1>

    {{ include('admin_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_contact_index') }}">Retour à la liste</a>

    {{ include('admin_contact/_delete_form.html.twig') }}
</div>
{% endblock %}
