{% extends 'base.html.twig' %}

{% block title "Profil" %}
{% block description "Profil utilisateur" %}


{% block body %}
	<div class="container">
    
		<a class="btn btn-primary" href="{{path("logout")}}" class="link-dark d-inline-flex text-decoration-none rounded">Déconnexion</a>
	</div>
{% endblock %}
